<h1>AQUALAND</h1>

<% @fish_collection.each do |fish| %>
  <div class="fish">
    <p>
      <b>Name: </b> <%= link_to fish.name, fish %>
    </p>
    <p>
      <b>Scientific Name: </b> <%= fish.scientific_name %>
    </p>
    <p>
      <b>Weight: </b> <%= fish.weight %>
    </p>
  </div>
<% end %>
